
* { 
    box-sizing: border-box; margin: 0; padding: 0; 
}

body { 
    font-family: Arial, sans-serif; color: #374151; background: #f9fafb; 
}
a { 
    text-decoration: none; color: inherit; 
}
.container{
  display: flex;
  height: 100vh;
  width: 100%;
}
.sidebar { 
    padding-top: 64px; padding-bottom: 64px; width: 232px; height: 100%; background: rgb(42, 54, 71); 
    display: flex; flex-direction: column; justify-content: center; align-items: center; justify-content: space-between; position: absolute; z-index: 1;
}
.logo_join { 
    display: flex; align-items: center; justify-content: center; width: 100.03px; height: 121.97px;
}
.nav { 
    display: flex; flex-direction: column; flex: 1; width: 232px; height: 229px; gap: 15px; padding-top: 80px;
}
.nav a { 
    display: flex; height: 46px;
}
.nav a:hover { 
    background: rgb(9, 25, 49); 
}
.sidebar-footer { 
    display: flex; flex-direction: column; justify-content: flex-end; font-size: 16px; color: rgb(168, 168, 168); height: 317px;
}
.sidebar-footer a { 
    display: flex; justify-content: center; align-items: center; padding: 0.25rem 0; transition: color 0.2s;  width: 232px; height: 35px;
}
.sidebar-footer a:hover { 
  background: rgb(9, 25, 49);
}
.main { 
  display: flex; flex-direction: column; width: 100%;

}
.header { 
    display: flex; align-items: center; background-color: white; height: 96px; width: 100%; justify-content: space-between;
    padding-top: 20px; padding-left: 348px; padding-right: 40px; padding-bottom: 20px; box-shadow: 0px 0px 6px 1px #37415131;
    position: absolute; z-index: 0;
}
.header span {display: none;}
.header h1 { 
    font-size: 20px; color: #4b5563; 
}
.header_right {display: flex; align-items: center; gap: 16px; height: 56px;
}
.header_right .help {
    width: 32px; height: 32px;
}
.avatar { 
    width: 56px; height: 56px; background: #e5e7eb; border-radius: 50%; display: flex; align-items: center; justify-content: center; 
    color: #4b5563; font-size: 0.875rem; cursor: pointer; 
}
.avatar:hover{
  background-color: #000000;
}
.main_content{
    padding-top: 206px; padding-left: 328px; width: 100%;
}
.title { 
    display: flex; align-items: center;  height: 73px;
    gap: 30px;
}
.title h2 { 
    color: rgb(0, 0, 0, 1); font-size: 61px; font-weight: bold; display: inline-block; 
}
.content { 
    display: flex; gap: 60px; 
}
.metrics-panel-left {
    display: flex;
    flex-direction: column;
    width: 440px;
    gap: 30px;
  }
  .form-group {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
  .form-group label {
    font-size: 20px;
    height: 24px;
    color: #1f2937;
  }
  .required {
    color: rgb(255, 129, 144, 1);
    margin-left: 2px;
    font-size: 24px;
  }
  .form-group input,
  .form-group textarea {
    width: 100%;
    border: 1px solid #d1d5db;
    border-radius: 8px;
    padding: 10px;
    font-family: inherit;
    font-size: 1rem;
    color: #111827;
    background: #fff;
    line-height: normal;    /* wichtig für vertikale Placeholder-Ausrichtung */
    text-align: start;      /* linksbündiger Placeholder */
    outline: none;
  }
  .form-group input::placeholder,
  .form-group textarea::placeholder {
    color: #9ca3af;
    text-align: start;
  }
  .title_input input,
  .date_input input {
    height: 48px;
  }
  .description_input textarea {
    height: 136px;
    resize: none;       /* verhindert Größenänderung per Drag */
  }
  .date_input .input-icon-date {
    position: relative;
  }
  .date_input .input-icon-date input {
    padding-right: 40px;  /* Platz für Icon */
  }
  .date_input .input-icon-date .icon {
    position: absolute;
    top: 50%;
    right: 38px;
    transform: translateY(-50%);
    cursor: pointer;
  }
  .date_input .input-icon img {
    width: 20px;
    height: 20px;
  }
  .input-icon-date input:hover {cursor: pointer;}
  .divider { width: 1px; background: #d2d4d8; }

  .metrics-panel-right { display: flex; flex-direction: column; gap: 24px; width: 440px;}

  .priority-buttons {display: flex; justify-content: space-between;}

  .btn { 
    width: 136px; height: 56px; 
    border: 1px solid #d1d5db; border-radius: 8px; 
    padding: 10px; 
    font-family: inherit; font-size: 20px; 
    gap: 8px; color: #111827; background: #fff; 
    line-height: normal; text-align: center; outline: none;
  }

  .btn:hover {background-color: #ffA800; color: white; cursor: pointer;}

  .btn_medium .icon.hover {
    display: none;
  }
  .btn_medium:hover .icon.default {
    display: none;
  }
  .btn_medium:hover .icon.hover {
    display: inline-block;
  }
  
  .form-group select {
    border: 1px solid #d1d5db; 
    border-radius: 8px; 
    background: #fff;  
    height: 48px; 
    padding-top: 12px; 
    padding-right: 16px; 
    padding-left: 16px; 
    padding-bottom: 12px; 
    cursor: pointer;
  }

  .form-group select {
    appearance: none;
  }

  .form-group select option {
    width: 20px;
    height: 20px;
  }

  .input-icon-subtask { position: relative; }
  .input-icon-subtask input { padding-right: 40px; height: 48px;}
  .input-icon-subtask .add-subtask { position: absolute; top: 50%; right: 12px; transform: translateY(-50%); background: none; border: none; cursor: pointer;}
  .input-icon-subtask .add-subtask img { width: 20px; height: 20px; }

  .bottom-nav {
    display: none;
  }


  @media (max-width: 1200px){
    .divider {
      display: none;
    }
    .header {
      display: flex;
      justify-content: start;
      justify-content: space-between;
      padding-left: 16px;
      padding-right: 16px;
      height: 80px;
      width: 100%;
      position: absolute;
    }
    .header span {
      display: flex;
    }
    .header h1 {display: none;}
    .help {
      display: none;
    }
    .avatar{
      width: 40px;
      height: 40px;
    }
    .main_content{
      overflow-y: scroll;
      padding-top: 0; 
      padding-bottom: 20px;
      padding-left: 0;
  }
  .title{
    height: 112px;
    margin-top: 80px;
  }
  .title h2 {
    height: 56px;
    font-size: 47px;
    padding-left: 16px;
  }
  .content {
    display: flex;
    justify-content: center;
    gap: 16px;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 0;
    width: 100%;
  }
  .metrics-panel-left {
    display: flex;
    justify-content: center;
    width: 396px;
  }
  .metrics-panel-right {
    width: 396px;
  }
  .form-group label {
    font-size: 16px;
  }
  .title_input input,
  .date_input input {
    height: 40px;
  }
  .description_input {
    height: 104px;
  }
  .priority-buttons { 
    justify-content: center;
    align-items: center;
    gap: 16px;
    height: 88px;
  }
  .btn {  
    width: 121.33px;
    font-size: 16px;
  }
  .btn img {
    width: 20px;
  } 
  .form-group select {
    height: 48px;
  }
    .sidebar {
      display: none;
    }
    .bottom-nav {
      display: flex;
      justify-content: center;
      align-items: center;
      background: rgb(42, 54, 71); 
      height: 80px;
      width: 100%;
    }
    .nav-bottom {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      justify-content: space-evenly;
      width: 100%;
    }
    .nav-bottom a {
      width: 76px;
      height: 76px;
      border-radius: 16px;
    }
    .nav-bottom a:hover{
      background: rgb(9, 25, 49); 
    }
  }

@media (max-width: 750px){
  .divider {
    display: none;
  }
  .header {
    display: flex;
    justify-content: start;
    justify-content: space-between;
    padding-left: 16px;
    padding-right: 16px;
    height: 80px;
    width: 100%;
    position: absolute;
  }
  .header span {
    display: flex;
  }
  .header h1 {display: none;}
  .help {
    display: none;
  }
  .avatar{
    width: 40px;
    height: 40px;
  }
  .main_content{
    overflow-y: scroll;
    padding-top: 0; 
    padding-bottom: 20px;
    padding-left: 0;
    height: 100%;
}
.title{
  display: flex;
  height: 112px;
  margin-top: 80px;
}
.title h2 {
  height: 56px;
  font-size: 47px;
  padding-left: 16px;
}
.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 0;
  width: 100%;
}
.metrics-panel-left {
  display: flex;
  justify-content: center;
  width: 396px;
}
.metrics-panel-right {
  width: 396px;
}
.form-group label {
  font-size: 16px;
}
.title_input input,
.date_input input {
  height: 40px;
}
.description_input {
  height: 104px;
}
.priority-buttons { 
  justify-content: center;
  align-items: center;
  gap: 16px;
  height: 88px;
}
.btn {  
  width: 121.33px;
  font-size: 16px;
}
.btn img {
  width: 20px;
} 
.form-group select {
  height: 48px;
}
  .sidebar {
    display: none;
  }
  .bottom-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(42, 54, 71); 
    height: 80px;
    width: 100%;
  }
  .nav-bottom {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
  }
  .nav-bottom a {
    width: 76px;
    height: 76px;
    border-radius: 16px;
  }
  .nav-bottom a:hover{
    background: rgb(9, 25, 49); 
  }
}

@media (max-width: 450px){
  .divider {
    display: none;
  }
  .header {
    display: flex;
    justify-content: start;
    justify-content: space-between;
    padding-left: 16px;
    padding-right: 16px;
    height: 80px;
    width: 100%;
    position: absolute;
  }
  .header span {
    display: flex;
  }
  .header h1 {display: none;}
  .help {
    display: none;
  }
  .avatar{
    width: 40px;
    height: 40px;
  }
  .main_content{
    overflow-y: scroll;
    padding-top: 0; 
    padding-bottom: 20px;
    padding-left: 0;
    height: 100%;
}
.title{
  display: flex;
  height: 80px;
  margin-top: 100px;
}
.title h2 {
  height: 56px;
  font-size: 34px;
  padding-left: 16px;
}
.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 0;
  width: 100%;
}
.metrics-panel-left {
  display: flex;
  justify-content: center;
  width: 330px;
}
.metrics-panel-right {
  width: 330px;
}
.form-group label {
  font-size: 16px;
}
.title_input input,
.date_input input {
  height: 40px;
}
.description_input {
  height: 104px;
}
.priority-buttons { 
  justify-content: center;
  align-items: center;
  gap: 16px;
  height: 88px;
}
.btn {  
  width: 100px;
  font-size: 12px;
}
.btn img {
  width: 20px;
} 
.form-group select {
  height: 48px;
}
  .sidebar {
    display: none;
  }
  .bottom-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(42, 54, 71); 
    height: 60px;
    width: 100%;
  }
  .nav-bottom {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
  }
  .nav-bottom a {
    border-radius: 16px;
  }
  .nav-bottom a:hover{
    background: rgb(9, 25, 49); 
  }
}

@media (max-width: 370px){
  .divider {
    display: none;
  }
  .header {
    display: flex;
    justify-content: start;
    justify-content: space-between;
    padding-left: 16px;
    padding-right: 16px;
    height: 80px;
    width: 100%;
    position: absolute;
  }
  .header span {
    display: flex;
  }
  .header h1 {display: none;}
  .help {
    display: none;
  }
  .avatar{
    width: 40px;
    height: 40px;
  }
  .main_content{
    overflow-y: scroll;
    padding-top: 0; 
    padding-bottom: 20px;
    padding-left: 0;
    height: 100%;
}
.title{
  display: flex;
  height: 80px;
  margin-top: 100px;
}
.title h2 {
  height: 56px;
  font-size: 34px;
  padding-left: 16px;
}
.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 0;
  width: 100%;
}
.metrics-panel-left {
  display: flex;
  justify-content: center;
  width: 280px;
}
.metrics-panel-right {
  width: 280px;
}
.form-group label {
  font-size: 16px;
}
.title_input input,
.date_input input {
  height: 40px;
}
.description_input {
  height: 104px;
}
.priority-buttons { 
  justify-content: center;
  align-items: center;
  gap: 16px;
  height: 88px;
}
.btn {  
  width: 100px;
  font-size: 12px;
}
.btn img {
  width: 14px;
} 
.form-group select {
  height: 48px;
}
  .sidebar {
    display: none;
  }
  .bottom-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(42, 54, 71); 
    height: 60px;
    width: 100%;
  }
  .nav-bottom {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
  }
  .nav-bottom a {
    border-radius: 16px;
  }
  .nav-bottom a:hover{
    background: rgb(9, 25, 49); 
  }
}
