@media (max-width: 1424px) {
  .content {
    flex-direction: column;
  }
  .main_content {
    padding-top: 60px;
  }
  .add_task_button {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 8px;
    margin-top: 30px;
  } 
}
@media (max-width: 864px) {
  .main_content {
    padding-left: 264px;
  }
}
@media (max-width: 736px) {
  .content {
    transform: scale(0.9);
    transform-origin: top left;
  }
  .main_content {
    padding-left: 248px;
  }
}

@media (max-width: 650px) {
  .main_content {
    padding-inline: 16px;
    height: calc(100vh - 160px);
  }
  .container {
    height: calc(100vh - 160px);
  }
  .content {
    width: 100%;
    transform: scale(1.0);
    margin-bottom: 16px;
  }
  .add_task_button {
    margin-top: 8px;
  }
  .divider {
    display: none;
  }
  .create-btn-container {
    position: absolute;
    z-index: 999;
    bottom: 96px;
    right: 16px;
    background-color: #F6F7F8;
  }
  .metrics-panel-left {
    width: 100%;
  }
  .metrics-panel-right {
    width: 100%;
  }
  .priority-buttons {
    justify-content: flex-start;
    gap: 16px;
  }
  .btn {
    height: 41px;
    width: 122px;
  }
}

@media (max-width: 396px) {
  .priority-buttons {
    transform: scale(0.8);
    transform-origin: left;
  }
  .create-btn-container {
    left: 16px;
  }
}

@media (max-width: 342px) {
  .create-btn-container {
    transform: scale(0.95);
    transform-origin: left;
    left: 10px;
  }
}