@media (max-width: 1450px) {
    .board-nav-bottom {
        flex-direction: column;
        width: auto;
    }
    .category-container {
        flex-direction: row;
    }
}

@media (max-width: 1050px) {
    .find-add-div input {
        display: none;
    }
    .findtaskMobile {
        display: flex !important;
    }
    .board-nav-bottom {
        margin-top: 26px;
    }
}

@media (max-width: 750px) {
    .addtask-btn-mobile {
        display: flex !important;
    }
    .addtask-btn {
        display: none;
    }
    .find-add-div {
        display: none;
    }
}

@media (max-width: 650px) {
    .board-nav {
        margin-inline: 16px;
        padding-top: 48px;
    }
    .board-nav-top {
        padding: 0;
    }
    .board-nav-bottom {
        margin-top: 16px;
        margin-inline: 16px;
        margin-bottom: 16px;
        height: calc(100vh - 400px);
    }
    .findtaskMobile {
        margin-inline: 0px;
        width: 100%;
    }
    .add_task_button {
        flex-direction: column;
        align-items: flex-start !important;
        gap: 16px !important;
    }
}

@media (max-width: 420px) {
    .create-btn-container {
        transform: scale(0.8);
        transform-origin: top left;
        gap: 24px !important;
    }
}

@media (max-width: 400px) {
    html {
        overflow: hidden;
    }
}

@media (max-width: 350px) {
    .priority-buttons .btn {
        padding: 2px !important;
        gap: 2px !important;
    }
}