@media (max-width: 650px) {
.contacts {
    margin-left: 0px;
    height: calc(100vh - 160px);
    width: 100%;
    padding: 24px;
    align-items: flex-start;
}
.contact_overview {
    display: none;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    height: auto;
    margin-left: 16px;
    margin-top: 48px;
}
.co-devider {
    display: none;
}
.new_contact_btn {
    display: none;
}
.contact_letter {
    width: 100%;
}
.contact_devider {
    width: 90%;
}
.ci-edit {
    display: none;
}
.ci-wrapper {
    align-items: center;
    gap: 20px;
}
.ci-name {
    font-weight: 700;
    font-size: 36px;
}
}