@media (max-width: 650px) {

    .mobile-header {
        display: flex;
    }

    .mobile-footer {
        display: flex;
    }

    .header {
        display: none;
    }

    .nav {
        display: none;
    }

    .bigger-buttons {
        font-size: 16px;
    }
}
