@media (max-width: 650px) {

    .header-logo {
        position: absolute;
        left: 20px;
        top: 15px;
        scale: 0.64;
    }

    .mobile-header {
        display: flex;
    }

    .mobile-footer {
        display: flex;
    }

    .header {
        display: none;
    }

    .nav {
        display: none;
    }

    .bigger-buttons {
        font-size: 16px;
    }
}

@media (max-width: 428px) {

    .email-input {
        padding-right: 50px;
    }
}