@media (max-width: 650px) {

    header {
        padding: 60px 60px 0px;
    }

    .header-logo {
        position: absolute;
        left: -16px;
        top: -30px;
        scale: 0.35;
    }

    .mobile-header {
        display: flex;
    }

    .sign-up-window {
        margin-top: 16px;
    }

    .mobile-footer {
        display: flex;
    }

    .header {
        display: none;
    }

    .nav {
        display: none;
    }

    .bigger-buttons {
        font-size: 16px;
    }
}

@media (max-width: 428px) {

    .email-input {
        padding-right: 50px;
    }
}