@media (max-width: 650px) {

    .log-in-logo {
        display: none;
    }

    header {
        padding: 0px;
    }

    .header-logo {
        position: absolute;
        left: 20px;
        top: 15px;
        scale: 0.64;
    }

    section {
        height: calc(100vh - 160px);
    }

    .sign-up-shortcut {
        display: none;
    }

    .header-sign-up {
        display: none;
    }

    .log-in-window {
        height: 320px;
        width: 396px;
        margin-top: 0px;
    }

    .log-in-window>h1 {
        font-size: 32px;
        margin-bottom: 8px;
    }

    .blue-line {
        width: 88px;
    }

    .log-in-section {
        margin-bottom: 8px;
    }

    .password-third {
        height: 76px;
    }

    .email-password>input {
        height: 48px;
        width: 304px;
    }
/* 
    .password-third {
        height: 52px;
    } */

    .log-in-form {
        height: 128px;
        padding-top: 4px;
        justify-content: space-between;
    }

    .log-in-buttons {
        width: 180px;
        flex-direction: column;
        padding-top: 12px;
        gap: 8px;
    }

    .sign-up-shortcut-footer {
        display: block;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 16px;
        gap: 40px;
    }

    .sign-up-shortcut-footer>label {
        font-size: 20px;
    }

    .footer-sign-up {
        height: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 32px;
    }

    footer {
        top: calc(100vh - 5%)
    }


    /* move logo effect */

    .loading-overlay {
        height: 100vh;
        width: 100%;
        max-width: 650px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgb(42, 54, 71);
        animation: fadeOutOverlay 0.25s ease forwards;
        animation-delay: 0.75s;
    }

    .mobile-log-in-logo {
        display: block;
        animation: move 0.25s ease forwards;
        animation-delay: 0.75s;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }


    @keyframes fadeOutOverlay {
        to {
            opacity: 0;
            visibility: hidden;
        }
    }

    @keyframes move {
        100% {
            left: 55px;
            top: 55px;
            scale: 0.64;
        }
    }
}


@media (max-width: 428px) {

    .log-in-window {
        width: 90%;
        max-width: 396px;
    }

    .email-password>input {
        width: 194px;
    }

    .log-in-buttons {
        max-width: 160px;
    }

    .bigger-buttons {
        padding: 12px;
    }
}