@media (max-width: 650px) {

    section {
        height: calc(100vh - 108px);
    }

    .sign-up-window {
        height: 512px;
        width: 396px;
        justify-content: start;
        margin-top: 72px;
    }

    .sign-up-window>h1 {
        font-size: 40px;
        margin-right: 52px;
        max-width: 200px;
    }

    .sign-up-form {
        padding-top: 12px;
        height: auto;
    }

    .sign-up-buttons {
        /* margin-top: 32px; */
        display: flex;
        height: 90px;
    }

    .mobile-sign-up-button {
        width: 180px;
    }

    .checkbox-and-alert {
        gap: 2px;
    }

    footer {
        top: calc(100vh - 5%)
    }
}


@media (max-width: 428px) {

    .sign-up-window {
        width: 90%;
        max-width: 396px;
    }
}