@media (max-width: 650px) {

    section {
        height: calc(100vh - 108px);
    }

    .sign-up-window {
        height: 400px;
        width: 396px;
        justify-content: start;
    }

    .sign-up-window>h1 {
        font-size: 32px;
        margin-right: 64px;
        max-width: 180px;
        margin-block: 8px;

    }

    .sign-up-form {
        padding-top: 4px;
        height: auto;
    }

    .name {
        height: 66px;
    }

    .email {
        height: 66px;
    }

    .password-first {
        height: 66px;
    }

    .password-second {
        height: 50px;
    }

    .name-input {
        height: 36px;
    }

    .email-input {
        height: 36px;
    }

    .sign-up-password {
        height: 36px;
    }

    .confirm-password {
        height: 36px;
    }

    .sign-up-buttons {
        display: flex;
        height: 82px;
    }

    .mobile-sign-up-button {
        width: 180px;
    }

    .checkbox-and-alert {
        gap: 2px;
    }

    footer {
        top: calc(100vh - 5%)
    }
}


@media (max-width: 428px) {

    .sign-up-window {
        width: 90%;
        max-width: 396px;
    }
}