body {
    background-color: rgb(246, 247, 248);
    height: 100%;
}

/* header */

.header {
    height: 96px;
    width: 100%;
    background-color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    padding-right: 40px;
    padding-bottom: 20px;
    padding-left: 348px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.1));
}

.title {
    font-size: 24px;
}

.header-icons {
    display: flex;
    align-items: center;
    gap: 16px;
}

.help-icon {
    height: 32px;
    width: 32px;
}

.help-icon:hover {
    scale: 110%;
}

.user-icon {
    height: 56px;
    width: 56px;
    border: 3px solid;
    border-color: #2A3647;
    border-radius: 50%;
}

.user-icon:hover {
    background-color: #E1E5EC;
}

/* nav */

.nav {
    z-index: 99;
    position: absolute;
    left: 0;
    top: 0;
    background-color: #2A3647;
    width: 232px;
    height: 100vh;
    padding-top: 64px;
    padding-bottom: 64px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.nav a:visited {
    text-decoration: none;
}

.current-site {
    background-color: #091931 !important;
    color: white !important;
}

.current-site p {
    color: white !important;
}

.nav p {
    display: flex;
    align-items: center;
    color: #CDCDCD;
    gap: 16px;
    height: 46px;
}

.nav img {
    width: 30px;
    height: 30px;
    object-fit: cover;
}

.nav-logo {
    width: 100.03px !important;
    height: 121.97px !important;
    object-fit: cover;
    margin-bottom: 200px;
}

.nav-top {
    height: 229px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.nav-top a:hover {
    background-color: #2A3D59;
    cursor: pointer;
}

.nav-top a {
    width: 232px;
    height: 46px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 15px;
    padding-left: 53px;
}

.nav-bottom {
    display: flex;
    flex-direction: column;
    padding-top: 243px;
    gap: 8px;
}

.nav-bottom a {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: #CDCDCD;
    height: 46px;
    width: 232px;
    padding-left: 53px;
}

.nav-bottom a:hover {
    color: #29ABE2 !important;
    font-size: 110%;
}

/* main content*/

.main-content {
    height: calc(100vh - 96px);
}

/* mobile */

.mobile-header {
    height: 80px;
    padding-block: 20px;
    padding-inline: 16px;
    background-color: white;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.1));
    display: none;
    justify-content: space-between;
    align-items: center;
}

.mobile-logo {
    object-fit: cover;
    height: 40px;
    width: 32px;
}

.mobile-icon {
    height: 40px;
    width: 40px;
    border: 3px solid;
    border-color: #2A3647;
    border-radius: 50%;
}

.mobile-footer {
    display: none;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    height: 80px;
    padding-inline: 16px;
    background-color: #2A3647;
}

.footer-btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.footer-btn:hover {
    cursor: pointer;
}

.footer-active {
    background-color: #091931;
    border-radius: 16px;
    width: 80px;
    height: 76px;
    padding-block: 8px;
    padding-inline: 1px;
}

.footer-span {
    color: #CDCDCD;
    font-size: 14px;
}

.span-active {
    color: white;
}

/* mobile media */

@media (max-width: 600px) {

    .mobile-header {
        display: flex;
    }

    .mobile-header-logo {
        position: relative;
        left: 40px;
        top: 40px;
        display: none;
    }

    .mobile-footer {
        display: flex;
    }

    .header {
        display: none;
    }

    .nav {
        display: none;
    }

    .description {
        padding: 40px 20px 0px 20px;
        margin-left: 0px;
    }

    .arrow-left {
        top: 145px;
    }

    .main-content {
        height: calc(100vh - 160px);
    }

    /* log in mobile */

    #main-content {
        padding-top: 56px;
        opacity: 0;
        animation: fadeInMain 0.5s ease forwards;
    }

    .mobile-header-logo {
        display: block;
    }

    .log-in-window {
        height: 475px;
        width: 396px;
    }

    .log-in-window>h1 {
        font-size: 48px;
    }

    .blue-line {
        width: 88px;
    }

    .email-password>input {
        height: 48px;
        width: 304px;
    }

    .log-in-section {
        margin-bottom: 8px;
    }

    .log-in-area {
        width: 180px;
        flex-direction: column;
        gap: 20px;
    }

    .header-logo {
        display: none;
    }

    .header-sign-up {
        display: none;
    }

    header {
        padding: 0px;
    }

    .footer-sign-up {
        height: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 32px;
    }

    footer {
        top: 880px;
    }

    .log-in-logo {
        display: none;
    }

    .loading-overlay {
        height: 100vh;
        width: 100%;
        max-width: 428px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgb(42, 54, 71);
        animation: fadeOutOverlay 1s ease forwards;
        animation-delay: 0.5s;
    }

    .mobile-log-in-logo {
        display: block;
        animation: move 0.5s ease forwards, colorChange 0.1s ease forwards;
        animation-delay: 0.5s;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }


    /* Fade out overlay */
    @keyframes fadeOutOverlay {
        to {
            opacity: 0;
            visibility: hidden;
        }
    }

    /* Fade in content */
    @keyframes fadeInMain {
        to {
            opacity: 1;
        }
    }

    /* Move & scale logo */
    @keyframes move {
        100% {
            left: 55px;
            top: 55px;
            scale: 0.64;
        }
    }

    /* Simulate color change (for images, requires filter) */
    @keyframes colorChange {
        to {
            filter: brightness(0) saturate(100%) invert(100%) sepia(2%) saturate(0%) hue-rotate(180deg);
        }
    }
}