body {
    background-color: rgb(246, 247, 248);
    height: 100vh;
    overflow-x: hidden;
}

/* bg overlay */

.bg_overlay {
    display: none;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 99;
    background-color: rgba(0, 0, 0, 0.4);
}

/* header */

.header {
    height: 96px;
    width: 100%;
    background-color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    padding-right: 40px;
    padding-bottom: 20px;
    padding-left: 348px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.1));
}

.title {
    font-size: 24px;
}

.header-icons {
    display: flex;
    align-items: center;
    gap: 16px;
}

.help-icon {
    height: 32px;
    width: 32px;
}

.help-icon:hover {
    scale: 110%;
}

.user-icon {
    height: 56px;
    width: 56px;
    border: 3px solid;
    border-color: #2A3647;
    border-radius: 50%;
}

.user-icon:hover {
    background-color: #E1E5EC;
}

/* burger */

.burger {
    display: none;
    flex-direction: column;
    gap: 8px;
    background-color: #2A3647;
    width: 158px;
    height: 150px;
    padding: 10px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    z-index: 99;
    position: absolute;
    top: 96px;
    right: 16px;
}

.burger a {
    text-decoration: none;
    color: #CDCDCD;
    height: 46px;
    width: 130px;
    font-size: 16px;
    font-weight: 400;
    padding-block: 8px;
    padding-inline: 8px;
}

.burger a:hover {
    background-color: #2A3D59;
    cursor: pointer;
}

.d_flex {
    display: flex !important;
}

/* nav */

.nav {
    z-index: 99;
    position: absolute;
    left: 0;
    top: 0;
    background-color: #2A3647;
    width: 232px;
    height: 100vh;
    padding-top: 64px;
    padding-bottom: 64px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.nav a:visited {
    text-decoration: none;
}

.current-site {
    background-color: #091931 !important;
    color: white !important;
}

.current-site p {
    color: white !important;
}

.nav p {
    display: flex;
    align-items: center;
    color: #CDCDCD;
    gap: 16px;
    height: 46px;
}

.nav img {
    width: 30px;
    height: 30px;
    object-fit: cover;
}

.nav-logo {
    width: 100.03px !important;
    height: 121.97px !important;
    object-fit: cover;
    margin-bottom: 64px;
}

.nav-top {
    height: 229px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav-top a:hover {
    background-color: #2A3D59;
    cursor: pointer;
}

.nav-top a {
    width: 232px;
    height: 46px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 15px;
    padding-left: 53px;
}

.nav-bottom {
    display: flex;
    flex-direction: column;
    padding-top: 243px;
    gap: 8px;
}

.nav-bottom a {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: #CDCDCD;
    height: 46px;
    width: 232px;
    padding-left: 53px;
}

.nav-bottom a:hover {
    color: #29ABE2 !important;
    font-size: 110%;
}

/* main content*/

.main-content {
    height: 100vh;
    max-width: 1920px;
    overflow-y: scroll;
}

/* mobile */

.mobile-header {
    height: 80px;
    padding-block: 20px;
    padding-inline: 16px;
    background-color: white;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.1));
    display: none;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
    position: relative;
}

.mobile-nav {
    display: flex;
    flex-direction: column;
    gap: 8px;
    background-color: #2A3647;
    width: 150px;
    height: 204px;
    padding: 10px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    z-index: 99;
    position: absolute;
    top: 60px;
    left: 100%;
    transition: left 0.3s ease-in;
}

.mobile-nav a {
    text-decoration: none;
    color: #CDCDCD;
    height: 46px;
    width: 130px;
    font-size: 16px;
    font-weight: 400;
    padding-block: 8px;
    padding-inline: 8px;
}

.mobile-nav a:hover {
    background-color: #2A3D59;
}

.mobile-logo {
    object-fit: cover;
    height: 40px;
    width: 32px;
}

.mobile-icon {
    height: 40px;
    width: 40px;
    border: 3px solid;
    border-color: #2A3647;
    border-radius: 50%;
}

.addtask-btn-mobile {
    width: 40px;
    height: 40px;
    background-color: #2A3647;
    display: none;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border-style: none;
    color: white;
    font-size: 21px;
    font-weight: 700;
}

.addtask-btn-mobile:hover {
    background-color: #29ABE2;
    cursor: pointer;
}

.mobile-footer {
    display: none;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    height: 80px;
    padding-inline: 16px;
    background-color: #2A3647;
}

.footer-btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.footer-btn:hover {
    cursor: pointer;
}

.footer-active {
    background-color: #091931;
    border-radius: 16px;
    width: 80px;
    height: 76px;
    padding-block: 8px;
    padding-inline: 1px;
}

.footer-span {
    color: #CDCDCD;
    font-size: 14px;
}

.span-active {
    color: #ffffff;
}

/* responsive */

@media (max-width: 1000px) {
    .main-content {
        overflow-y: auto;
    }
}

@media (max-width: 800px) {
    .user-icon {
        height: 40px;
        width: 40px;
    }

    .header {
        padding-left: 296px;
    }
}

@media (max-width: 650px) {

    .mobile-header {
        display: flex;
    }

    .mobile-header-logo {
        position: relative;
        left: 40px;
        top: 40px;
        display: block;
    }

    .mobile-footer {
        display: flex;
    }

    .header {
        display: none;
    }

    .nav {
        display: none;
    }

    .main-content {
        height: calc(100vh - 160px);
    }
}

@media (max-width: 340px) {
    .footer-span {
        font-size: 12px;
    }
}