/* contact list */
body {
    overflow-y: hidden;
}

.tablet-header-icon {
    display: none;
}

.contacts {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: white;
    z-index: 9;
    margin-left: 232px;
    width: 456px;
    height: calc(100vh - 96px);
    min-width: 456px;
    padding-block: 32px;
    padding-inline: 24px;
    filter: drop-shadow(4px 0px 4px rgba(0,0,0,0.08));
    overflow-y: auto;
}

.person_add {
    object-fit: cover;
    height: 32px;
    width: 32px;
}

.new_contact_btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    width: 352px;
    height: 56px;
    padding-block: 9px;
    background-color: #2A3647;
    color: white;
    font-size: 21px;
    font-weight: 700;
    border-radius: 10px;
    border-style: solid;
    border-color: #2A3647;
}

.new_contact_btn:hover {
    background-color: #29ABE2;
    border-color: #29ABE2;
    cursor: pointer;
    transition: ease-in 0.075s;
}

.contact_letter {
    display: flex;
    justify-content: flex-start !important;
    width: 352px;
    font-size: 20px;
    font-weight: 400;
    color: #000000;
    padding-block: 17px;
    padding-inline: 36px;
}

.contact_devider {
    height: 1px !important;
    min-height: 1px;
    width: 352px;
    margin-block: 4px;
    background-color: #EEEEEE;
}

.contact_entry {
    width: 352px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 35px;
    padding-block: 15px;
    padding-inline: 24px;
}

.contact_entry div {
    max-width: 229px !important;
}

.contact_entry:hover {
    background-color: #F6F7F8;
    cursor: pointer;
    border-radius: 12px;
    transition: ease-in 0.075s;
}

.contact_icon_placeholder {
  width: 42px;
  height: 42px;
  border-radius: 50%;
  border: 1px solid white;
  color: white;
  font-weight: 200;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}

.contact_icon {
    object-fit: cover;
    height: 42px;
    width: 42px;
    border-radius: 45px;
    border-color: white;
    border-width: 2px;
}

.contact_name {
    font-size: 20px;
    font-weight: 400;
    color: black;
}

.contact_mail {
    display: inline-block;
    font-size: 20px;
    font-weight: 400;
    color: #007CEE;
    max-width: 229px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/* contact overview */

.contact_wrapper {
    display: flex;
    align-items: flex-start;
}

.contact_overview {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    height: 73px;
    margin-left: 55px;
    margin-right: 55px;
    margin-top: 110px;
}

.contact_overview h1 {
    font-size: 61px;
    font-weight: 700;
}

.contact_overview span {
    font-size: 27px;
    font-weight: 400;
}

.co-devider {
    width: 4px;
    border-radius: 3px;
    height: 59px;
    background-color: #29ABE2;
}

.co-devider-mobile {
    display: none;
    height: 4px;
    border-radius: 3px;
    width: 90px;
    background-color: #29ABE2;
}

/* contact information */

.contact_information {
    position: fixed;
    top: 311px;
    left: 100%;
    transition: left ease-in 0.3s;
    display: flex;
    flex-direction: column;
    gap: 22px;
}

.slide-in {
  animation: slideInFromRight 0.3s forwards;
}

.slide-out {
  animation: slideOutToRight 0.3s forwards;
}

/* Standardwert ab 1371px */
#contact_information {
  --contact-left: 750px;
}

/* Für 650px – 1370px */
@media (min-width: 650px) and (max-width: 1370px) {
  #contact_information {
    --contact-left: 511px;
  }
}

@keyframes slideInFromRight {
  from {
    left: 100%;
    opacity: 0;
  }
  to {
    left: var(--contact-left);
    opacity: 1;
  }
}

@keyframes slideOutToRight {
  from {
    left: var(--contact-left);
    opacity: 1;
  }
  to {
    left: 100%;
    opacity: 0;
  }
}

.ci-wrapper {
    display: flex;
    gap: 54px;
}

.ci-menu {
    display: flex;
    flex-direction: column;
}

.ci-edit {
    display: flex;
    align-items: center;
    height: 24px;
    gap: 16px;
}

.ci-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit: cover;
    height: 120px;
    min-height: 120px;
    width: 120px;
    min-width: 120px;
    font-size: 47px;
    font-weight: 500;
    color: white;
    border-radius: 70px;
    border-width: 2px;
    border-color: white;
    filter: drop-shadow(0px 0px 4px rgba(0,0,0,0.1));
}

.ci-name {
    font-size: 47px;
    font-weight: 500;
    word-break: break-word;
    overflow-wrap: break-word;
}

.ci-edit a{
    display: flex;
    align-items: center;
    gap: 8px;
    color: #2A3647;
}

.ci-edit a:hover {
    color: #29ABE2;
    transition: ease-in 0.075s;
}

.ci-edit a:hover img {
    filter: brightness(0) saturate(100%) invert(61%) sepia(91%) saturate(342%) hue-rotate(174deg) brightness(96%) contrast(95%);
    transition: ease-in 0.075s;
}

.ci-edit img{
    object-fit: cover;
    height: 24px;
    width: 24px;
}

.ci-head {
    font-size: 20px;
    font-weight: 400;
}

.ci-text {
    font-size: 16px;
}

.ci-mail {
    color: #007CEE;
    max-width: 229px !important;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/* overlay and mobile-specials */

.back_contact_btn {
    display: none;
    background: none;
    border: none;
    position: absolute;
    top: 128px;
    left: calc(100% - 48px);
    height: 32px;
    width: 32px;
}

.back-arrow-btn {
    object-fit: cover;
    width: 24px;
    height: 24px;
}

.back-arrow-btn:hover {
    cursor: pointer;
}

.contact-options {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    position: fixed;
    z-index: 1000;
    top: 80%;
    left: 120%;
    height: 100px;
    width: 116px;
    padding: 10px;
    background-color: white;
    border-radius: 20px;
    border-bottom-right-radius: 0px !important;
    filter: drop-shadow(0px 4px 4px rgba(0,4,4,0.25));
    transition: ease-in 0.3s;
}

.contact-options a {
    display: flex;
    align-items: center;
    padding: 8px;
    gap: 8px;
    color: #2A3647;
    font-size: 16px;
    font-weight: 400;
    text-decoration: none;
}

.contact-options a:visited {
    text-decoration: none;
}

.contact-options a:hover {
    color: #29ABE2;
    transition: ease-in 0.075s;
}

.contact-options a:hover img {
    transition: ease-in 0.075s;
    filter: brightness(0) saturate(100%) invert(61%) sepia(91%) saturate(342%) hue-rotate(174deg) brightness(96%) contrast(95%);
}
/* sorgt für das dunkle Overlay hinter dem <dialog> */
dialog::backdrop {
  background: rgba(0, 0, 0, 0.35);
}

/* tablet burger menu */

.tabletNavBar {
    display: none;
    flex-direction: column;
    gap: 4px;
    justify-content: center;
    align-items: flex-start;
    position: absolute;
    z-index: 99;
    top: 96px;
    left: 16px;
    height: 224px;
    width: 424px;
    padding: 10px;
    background-color: #2A3647;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.tabletNavBar a {
    text-decoration: none;
    color: #CDCDCD;
    height: 46px;
    width: 100%;
    font: 16px 400;
    padding: 8px;
}

.tabletNavBar a:hover {
    background-color: #2A3D59;
    cursor: pointer;
    transition: ease-in 0.075s;
}

.navBarDivider {
    background-color: #CDCDCD;
    height: 2px;
    width: 408px;
    margin-left: 8px;
}