
/* .invisible-scrollbar class is so coded,
because it's suitable for all web browsers */
.invisible-scrollbar {
    scrollbar-width: none;
}

.main-content {
    height: auto !important;
}

.description {
    box-sizing: border-box;
    padding: 100px 80px 0px 80px;
    margin-left: 232px;
}

.text-area {
    height: calc(100vh - 202px);
    width: 100%;
    max-width: 1208px;
    display: flex;
    align-items: start;
    flex-direction: column;
    overflow-y: scroll;
}

.invisible-scrollbar { 
  scrollbar-width: none;
}

.text-area>h2 {
    margin-top: 24px;
}

.text-area>h3 {
    margin-block-start: 16px;
    margin-block-end: 4px;
}
.text-area>ul>li {
    font-size: 17px;
    margin: 12px 0px;
}

.text-area>span>ul>li{
    font-size: 17px;
    margin: 12px 0px;
}

.text-title {
    height: 116px;
    width: 100%;
    max-width: 1108px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.text-title>h1 {
    font-size: 54px;
}

.highlight-word {
    color: rgb(41, 171, 226);
}

