.description {
    box-sizing: border-box;
    padding: 100px 100px 0px 100px;
    margin-left: 232px;
}

.text-area {
    height: calc(100vh - 212px);
    width: 100%;
    max-width: 1208px;
    overflow-y: scroll;
}

.text-area::-webkit-scrollbar {
    display: none;
}

.text-area>h2 {
    margin-block-end: 4px;
}

.text-area>h3 {
    margin-block-end: 4px;
}

.text-area>span {
    font-size: 17px;
}

.text-title {
    height: 116px;
    width: 100%;
    max-width: 1108px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.text-title>h1 {
    font-size: 60px;
}

.highlight-word {
    color: rgb(41, 171, 226);
}