/* log in page properties */

.sign-up-shortcut {
    height: 60px;
    width: 280px;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 32px;
}

.sign-up-shortcut-footer {
    display: none;
}

.log-in-window {
    height: 450px;
    width: 650px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 32px;
    border-style: none;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 12px 1px rgb(0, 0, 0, 0.05);
    margin-top: 12px;
}

.log-in-window>h1 {
    font-size: 61px;
    margin-bottom: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.log-in-form {
    padding-top: 16px;
    height: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.log-in-form:hover {
    cursor: pointer;
}

.log-in-password {
    height: 48px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px solid rgb(0, 0, 0, 0.1);
    border-radius: 12px;
    margin: 0px 8px;
}

.log-in-password>input {
    width: 100%;
    max-width: 310px;
    font-size: 24px;
    border-radius: 12px;
    border: none;
    padding-left: 16px;
}

.log-in-password>input:hover {
    cursor: pointer;
}

.log-in-password>input::placeholder {
    font-size: 20px;
    color: rgb(209, 209, 209);
}

.log-in-password>input:focus {
    outline: none;
}

.log-in-buttons {
    width: 320px;
    display: flex;
    justify-content: space-between;
}

.white-button {
    color: rgb(42, 54, 71) !important;
    background-color: rgb(255, 255, 255) !important;
    border: 1.5px solid rgb(42, 54, 71) !important;
}

.white-button:hover {
    color: rgb(41, 171, 226) !important;
    border-color: rgb(41, 171, 226) !important;
    background-color: rgb(255, 255, 255) !important;
    box-shadow: 0px 4px 4px 0px rgb(181, 181, 181) !important;
}


/* log in - move logo effect */

#overlay {
    height: 100vh;
    width: 100%;
    max-width: 1440px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(246, 247, 248);
}

.log-in-logo {
    animation: move 0.6s ease forwards;
    animation-delay: 0.3s;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


#main-window {
    animation: opacityOn 0.5s ease-in;
}

.header-logo {
    display: none;
}

.mobile-log-in-logo {
    display: none;
}

@keyframes move {

    100% {
        left: 22px;
        top: 14.5px;
        scale: 0.365;
    }
}

@keyframes opacityOn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
