
/* general properties for both log in and sign up */

body {
    overflow-y: hidden;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 60px 60px 0px;
}

section {
    height: calc(100vh - 400px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.blue-line {
    height: 3px;
    width: 150px;
    border-radius: 3px;
    background-color: rgb(41, 171, 226);
}


/* email input properties for both pages */

.email {
    height: 60px;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    margin: 0px 8px;
}

.email-input {
    height: 42px;
    width: 100%;
    max-width: 352px;
    display: flex;
    justify-content: center;
    align-items: end;
    font-size: 24px;
    padding-left: 16px;
    padding-right: 56px;
    border: 2px solid rgb(0, 0, 0, 0.1);
    background-image: url(../assets/icons/log_in/mail.svg);
    background-size: 17px;
    background-repeat: no-repeat;
    background-position: 94%;
    border-radius: 12px;
}

.email-input:hover {
    cursor: pointer;
}

.email-input::placeholder {
    font-size: 20px;
    color: rgb(209, 209, 209);
}

.email-input:focus {
    outline: none;
}

.email-alert {
    width: 100%;
    max-width: 352px;
    font-size: 12px;
    text-align: start;
    padding-left: 4px;
    color: rgb(255,129,144);
    display: none;
}

.password-alert {
    height: 15px;
    width: 100%;
    max-width: 352px;
    font-size: 12px;
    text-align: start;
    margin: 0px;
    padding-left: 12px;
    color: rgb(255,129,144);
    display: none;
}

.privacy-policy-alert {
    width: 100%;
    max-width: 352px;
    font-size: 12px;
    text-align: center;
    color: rgb(255,129,144);
    display: none;
}

.lock-icon {
    width: 17px;
    margin-right: 20px;
    cursor: pointer;
}


/* buttons and footer properties */

.buttons {
    font-size: 16px;
    font-weight: bold;
    border-style: none;
    border-radius: 8px;
    color: rgb(255, 255, 255);
    background-color: rgb(42, 54, 71);
    padding: 14px 16px;
    transition: 125ms;
}

.buttons:hover {
    cursor: pointer;
    background-color: rgb(41, 171, 226);
    box-shadow: 0px 4px 4px 0px rgb(181, 181, 181);
}

.bigger-buttons {
    font-size: 20px;
    padding: 12px 24px;
}

footer {
    position: fixed;
    top: calc(100vh - 10%);
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

footer>a {
    text-decoration: none;
    font-size: 16px;
    color: rgb(168, 168, 168);
}

footer>a:hover {
    cursor: pointer;
    color: rgb(41, 171, 226);
    font-weight: bold;
}
