.description {
    box-sizing: border-box;
    padding: 100px 80px 0px 80px;
    margin-left: 232px;
}

.text-area {
    height: calc(100vh - 212px);
    width: 100%;
    max-width: 1208px;
    display: flex;
    align-items: start;
    flex-direction: column;
    overflow-y: scroll;
}

.text-area::-webkit-scrollbar {
    display: none;
}

.text-area>h3 {
    margin-block-start: 16px;
    margin-block-end: 4px;
}

.text-area>span {
    font-size: 17px;
}

.text-title {
    height: 116px;
    width: 100%;
    max-width: 1108px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.text-title>h1 {
    font-size: 54px;
}
