.avatar { 
    width: 56px; height: 56px; background: #e5e7eb; border-radius: 559px; display: flex; align-items: center; justify-content: center; color: #4b5563; font-size: 0.875rem; 
}
.content_wrapper{
    display: flex; flex-direction: column; gap: 30px; padding-left: 328px; padding-top: 110px;
}
.title { 
    display: flex; justify-content: center; align-items: center; width: 625px; height: 73px;
    gap: 30px;
}
.title h2 { 
    color: rgb(0, 0, 0, 1); font-size: 61px; font-weight: 700; width: 264px; white-space: nowrap;
}
.divider_middle {
    height: 59px; width: 3px; background-color: rgba(41, 171, 226, 1);
}
.divider_mobile {
    display: none;
}
.title span { 
    display: flex; align-items: center;
    color: rgba(42, 54, 71, 1); font-size: 27px; font-weight: 400; height: 32px; width: 301px;
}
.content { 
    display: flex; justify-content: space-evenly; gap: 60px;
}
.icon {
    display: flex; justify-content: center; align-items: center; height: 69px; width: 69px; background-color: #2A3647; border-radius: 50%;
}
.metrics-panel { 
    display: flex; flex-direction: column;
    width: 560px; gap: 30px;
}
.cards {
    display: flex; justify-content: space-between;
}
.card { 
    width: 264px; height: 168px; gap: 18px; background: #fff; border: 1px solid #e5e7eb; border-radius: 30px; 
    display: flex; align-items: center; justify-content: center; padding: 1rem; text-align: center; filter: drop-shadow(0px 0px 0px rgba(0, 0, 4px, 0.1)); 
}
.card:hover, .urgent:hover {
    cursor: pointer;
    background-color: #2A3647;
    color: white;
    .label {
        color: white;
    }
    .small {
        color: white;
    }
    .deadline {
        color: white;
    }
}
.to-do:hover {
    transform: scale(104%);
    transform-origin: left;
}
.to-do:hover .icon, .done:hover .icon {
    background-color: white;
}
.to-do:hover img, .done:hover img{
     filter: brightness(0) saturate(100%) invert(21%) sepia(16%) saturate(1581%) hue-rotate(174deg) brightness(96%) contrast(92%);
}
.done:hover {
    transform: scale(104%);
    transform-origin: right;
}
.all-tasks:hover {
    transform: scale(104%);
    transform-origin: left;
}
.in-progress:hover {
    transform: scale(104%);
    transform-origin: center;
}
.await-fb:hover {
    transform: scale(104%);
    transform-origin: right;
}
.card .icon img { 
 object-fit: cover;
}
.card .value { 
    font-size: 64px; font-weight: 600; 
}
.card .label { 
    font-size: 20px; color: rgba(42, 54, 71, 1); 
}
.card_count_container{
    display: flex; justify-content: space-between;
}
.urgent { 
    display: flex; justify-content: center; align-items: center; gap: 61px; border: 1px solid #e0f2fe; border-radius: 30px;
    width: 560px; height: 168px; background: #fff; padding-top: 28px; padding-bottom: 28px; padding-left: 48px; padding-right: 48px;
}
.urgent:hover {
    transform: scale(104%);
    transform-origin: top left;
}
.urgent-left { 
    display: flex; align-items: center; gap: 18px;
}
.urgent-left .icon {
    width: 60px; height: 60px;
}
.urgent-left .value {
    font-weight: 600; font-size: 64px;
}
.urgent-left .label {
    font-size: 16px; color: rgba(42, 54, 71, 1);
}
.separator { 
    border-left: 2px solid rgba(209, 209, 209, 1); height: 100%;
}
.urgent-right { 
    display: flex; flex-direction: column; align-items: center; color: rgba(42, 54, 71, 1); font-size: 21px; gap: 13px;
}
.urgent-right div {
    font-weight: 700;
}
.urgent-right small {font-size: 16px;}
.card_count {
    display: flex; flex-direction: column; width: 168px; height: 168px;
}
.greeting { 
    flex: 1; display: flex; align-items: center; justify-content: center; gap: 3px;
}
.greeting p { 
    font-size: 47px; color: rgba(42, 54, 71, 1); 
}
.greeting h3 { 
    font-size: 64px; color: rgba(41, 171, 226, 1);
}
.bottom-nav {
    display: none;
}